@page
@model IndexModel
@{
    ViewData["Title"] = "Albums";
}

<div class="text-left">
    <h1 class="display-4">Album Management</h1>

    <p>
        <a asp-page="Create">Add New Album</a>
    </p>

    <table class="table">

    <thead>
        <tr>
            <th></th>
            <th>
                Title
            </th>
            <th>
                Release Date
            </th>            
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Albums)
        {
            <tr>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.Cover);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgSrc" alt="...">
                </td>
                <td>
                    @Html.DisplayFor(m => item.Title) (@Html.DisplayFor(m => item.Artist.Name))
                </td>
                <td>
                    @Html.DisplayFor(m => item.ReleaseYear)
                </td>
                <td>
                    <form method="get">
                        <button type="submit" class="btn btn-primary btn-m" asp-page="./Edit" asp-route-id="@item.ID">
                            Update  
                        </button>
                    </form>                    
                </td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-danger bt-sm" asp-page-handler="delete" asp-route-id="@item.ID">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
