@page
@model IndexModel
@{
    ViewData["Title"] = "NBA Teams";
}
    <form method="post">
        <div class="text-center">
            <h1 class="display-4">Teams</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Region</th>
                        <th>Popularity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in Model.Teams)
                    {
                        <tr>
                            <td>@team.Name</td>
                            <td>@team.Region</td>
                            <td>@team.Popularity</td>
                            <td>
                                <a asp-page="./Detail" asp-route-id="@team.Id">detail</a>
                                <a asp-page="./Edit" asp-route-id="@team.Id">edit</a>
                                <button type="submit" asp-page-handler="delete"
                                        asp-route-id="@team.Id">
                                    delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <a asp-page="./Create">Create</a>
        </div>
</form>